<robot name="mycar" xmlns:xacro="http://wiki.ros.org/xacro">
    <!-- inertial-matrix -->
    <xacro:include filename="head.xacro" />
    <!-- module -->
    <xacro:include filename="car_base.urdf.xacro" />
    <xacro:include filename="car_camera.urdf.xacro" />
    <xacro:include filename="car_laser.urdf.xacro" />

    <!-- control -->
    <xacro:include filename="gazebo/move.xacro" />
    <!-- laser -->
    <xacro:include filename="gazebo/laser.xacro" />
    <!-- camera -->
    <xacro:include filename="gazebo/camera.xacro" />
    <!-- kinect -->
    <xacro:include filename="gazebo/kinect.xacro" />
</robot>